/* Horde Colours */
$horde_dark_red: #390000;
$horde_light_red: #970c09;
$horde_white: #ececec;

/* Theme Colours */
$colorPrimary: #390000;
$colorPrimaryLight: $horde_light_red;
$colorSecondary: #ececec;

$linkColor: #970c09;
$text-dark: #111;