/* Horde Colours */
/* Theme Colours */
.navbar-default {
  background-color: #1f2271; }
  .navbar-default a {
    color: #f4d032; }
  .navbar-default .navbar-brand {
    color: #f4d032; }

.navbar-default .navbar-nav > li > a {
  color: #f4d032; }

.panel-default {
  border-color: #1f2271; }

.panel-default > .panel-heading {
  background-color: #1f2271;
  border-color: #1f2271;
  color: #f4d032; }
