/* Horde Colours */

/* Theme Colours */

a {
  color: #970c09;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #970c09;
}

.navbar {
  background-color: #390000;
}

.navbar a {
  color: #ececec;
}

.navbar .navbar-brand {
  color: #ececec;
}

.navbar .navbar-nav > li > a {
  color: #ececec;
}

h1,
h2,
h3,
h4 {
  color: #ececec;
}

.card {
  border-color: #390000;
  background: #111;
  color: #ececec;
}

.card-header {
  background-color: #390000;
  border-color: #390000;
  color: #ececec;
}

.modal-header {
  background-color: #390000;
}

.modal-body {
  background: #111;
}

.modal-footer {
  background-color: #390000;
}

#addAttendeeModal select {
  background: #111;
}

#addAttendeeModal option:hover {
  background: #111 !important;
}

