/* Horde Colours */
/* Theme Colours */
.navbar-default {
  background-color: #390000; }
  .navbar-default a {
    color: #ececec; }
  .navbar-default .navbar-brand {
    color: #ececec; }

.navbar-default .navbar-nav > li > a {
  color: #ececec; }

.panel-default {
  border-color: #390000; }

.panel-default > .panel-heading {
  background-color: #390000;
  border-color: #390000;
  color: #ececec; }
