.navbar-default {
  background-color: #3e0000; }
  .navbar-default a {
    color: #ececec; }

.panel-default {
  border-color: #3e0000; }

.panel-default > .panel-heading {
  background-color: #3e0000;
  border-color: #3e0000;
  color: #ececec; }
