$wow_priest: #FFFFFF;
$wow_mage: #69CCF0;
$wow_warlock: #9482C9;

$wow_rogue: #FFF569;
$wow_druid: #FF7D0A;
$wow_monk: #00FF96;
$wow_demon_hunter: #A330C9;

$wow_hunter: #ABD473;
$wow_shaman: #0070DE;

$wow_death_knight: #C41F3B;
$wow_warrior: #C79C6E;
$wow_paladin: #F58CBA;
