@import "colors";

/* Cloth Wearers */
.priest { color: $wow_priest; }
.mage { color: $wow_mage; }
.warlock { color: $wow_warlock; }

/* Leather Wearers */
.demon-hunter { color: $wow_demon_hunter; }
.druid { color: $wow_druid; }
.rogue { color: $wow_rogue; }
.monk { color: $wow_monk; }

/* Mail Wearers */
.hunter { color: $wow_hunter; }
.shaman { color: $wow_shaman; }

/* Plate Wearers */
.warrior { color: $wow_warrior; }
.paladin { color: $wow_paladin; }
.death_knight { color: $wow_death_knight; }
