@import "colors";

/* Cloth Wearers */
.priest, .priest a { color: $wow_priest; }
.mage, .mage a { color: $wow_mage; }
.warlock, .warlock a { color: $wow_warlock; }

/* Leather Wearers */
.demon-hunter, .demon-hunter a { color: $wow_demon_hunter; }
.druid, .druid a { color: $wow_druid; }
.rogue, .rogue a { color: $wow_rogue; }
.monk, .monk a { color: $wow_monk; }

/* Mail Wearers */
.hunter, .hunter a { color: $wow_hunter; }
.shaman, .shaman a { color: $wow_shaman; }

/* Plate Wearers */
.warrior, .warrior a { color: $wow_warrior; }
.paladin, .paladin a { color: $wow_paladin; }
.death_knight, .death_knight a { color: $wow_death_knight; }
