@import "colors";

/* Cloth Wearers */


/* Leather Wearers */
.demon-hunter { color: $wow_demon_hunter; }
.druid { color: $wow_druid; }
.rogue { color: $wow_rogue; }
.monk { color: $wow_monk; }

/* Mail Wearers */
.hunter { color: $wow_hunter; }

/* Plate Wearers */
