// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.css";

@import "wow-classes/classes";

body {
  background: $body-bg;
}

li {
  list-style: none;
}

.killed {
  color: $brand-success;
  a {
    color: $brand-success;
    font-weight: bold;
  }
}

.table-striped > tbody > tr:nth-of-type(odd)
{
  background-color: #222;
}

th {
  color: #ececec;
}

select.form-control {
  background-color: $body-bg;
}

.profile-icon {
  width: 24px;
  height: 24px;
}