
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "wow-classes/classes";

li {
  list-style: none;
}

.killed {
  color: $brand-success;
  a {
    color: $brand-success;
    font-weight: bold;
  }
}

.table-striped > tbody > tr:nth-of-type(odd)
{
  background-color: #222;
}