.modal-header {
  background-color: $colorPrimary;
}

.modal-body {
  background: #111;
}

.modal-footer {
  background-color: $colorPrimary;
}

#addAttendeeModal select
{
  background: #111;
}

#addAttendeeModal option:hover
{
  background: #111 !important;
}