.panel-default {
  border-color: $colorPrimary;
  background: #111;
  color: $colorSecondary;
}

.panel-default > .panel-heading {
  background-color: $colorPrimary;
  border-color: $colorPrimary;
  color: $colorSecondary;
}
